<style>
  body {
      background-image: url(/img/servBg.jpg);
    height: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>

<br><br>
<!--Main layout-->
<main class="mt-2 pt-5">
  <div class="container">

    <!--Section: Cards-->
    <section class="pt-4">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 mb-4">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-1-half">
            <div class="view overlay">
              <img src="/img/card img/vaidyasala.jpg" style="width: 455px; height: 220px;"></img>
            </div>

          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
          <h3 class="mb-3 font-weight-bold dark-grey-text">
            <strong>Vaidyasala</strong>
          </h3>
          <p class="grey-text">We have more comfortable and organic culture maintainance in the Vadiyasala.</p>
          <p>
            <strong>We have anceint theorys to recue the all type of innacurates in the body.</strong>
          </p>
          <a href="#" target="_blank" class="btn btn-success btn-md">More Info
            <i class="fas fa-play ml-2"></i>
          </a>
        </div>
        <!--Grid column-->


      </div>
      <!--Grid row-->

      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 mb-4">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-1-half">
            <div class="view overlay">
              <img src="/img/card img/panchakarma.jfif" style="width: 455px; height: 220px;"></img>
            </div>

          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
          <h3 class="mb-3 font-weight-bold dark-grey-text">
            <strong>Panchakarama</strong>
          </h3>
          <p class="grey-text">we recognized as a world famous panchakarma ayurveda treatment.</p>
          <p>
            <strong>including many of the thing that body, psycological aspects in a joyful manner.</strong>
          </p>
          <a href="#" target="_blank" class="btn btn-warning btn-md">More Info
            <i class="fas fa-play ml-2"></i>
          </a>
        </div>
        <!--Grid column-->


      </div>

      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 mb-4">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-1-half">
            <div class="view overlay">
              <img src="/img/card img/ayu medi spa.jfif" style="width: 455px; height: 220px;"></img>
            </div>

          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
          <h3 class="mb-3 font-weight-bold dark-grey-text">
            <strong>Ayu Medi Spa</strong>
          </h3>
          <p class="grey-text">Every problem we have a certain type of solution in our vaidyasala.</p>
          <p>
            <strong>By many of the panchakarama ways we can fix those were occured in your body.</strong>
          </p>
          <a href="#" target="_blank" class="btn btn-info btn-md">More Info
            <i class="fas fa-play ml-2"></i>
          </a>
        </div>
        <!--Grid column-->


      </div>

      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 mb-4">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-1-half">
            <div class="view overlay">
              <img src="/img/card img/beauty clinic.jfif" style="width: 455px; height: 220px;"></img>
            </div>

          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
          <h3 class="mb-3 font-weight-bold dark-grey-text">
            <strong>Beauty Clinic</strong>
          </h3>
          <p class="grey-text">Nature gives us presence to recognize the beauty of that.</p>
          <p>
            <strong>We can make you to presence as a beauty in the nature.</strong>
          </p>
          <a href="#" target="_blank" class="btn btn-light btn-md">More Info
            <i class="fas fa-play ml-2"></i>
          </a>
        </div>
        <!--Grid column-->


      </div>

      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 mb-4">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-1-half">
            <div class="view overlay">
              <img src="/img/card img/training program.jfif" style="width: 455px; height: 220px;"></img>
            </div>

          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
          <h3 class="mb-3 font-weight-bold dark-grey-text">
            <strong>Training Programs</strong>
          </h3>
          <p class="grey-text">Our dedicated team can build that strong education about ayurveda.</p>
          <p>
            <strong>Spreading organic knowledge and make to know about the importance of that.</strong>
          </p>
          <a href="#" target="_blank" class="btn btn-secondary btn-md">More Info
            <i class="fas fa-play ml-2"></i>
          </a>
        </div>
        <!--Grid column-->


      </div>


    </section>
    <!--Section: Cards-->

  </div>
</main>
<!--Main layout-->